<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul  class="nav navbar-nav">
      <li routerLinkActivate="active">
          <a routerLink="books">Livres</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()" style="cursor: pointer" *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>

  </div>
</nav>
